.hero {
  background-image: url("NOMBRE-DE-TU-FOTO.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
