
.hero {
  background-image: url("fotoduo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 100svh;
  width: 100vw;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* MÓVIL – FORZADO */
@media screen and (max-width: 768px) {
  .hero {
    background-position: 25% center;
  }
}
